.navbar-inverse.navbar-fixed-bottom
  .container
    .row.footer
      .col-lg-4.text-center
        p.
          ©1999 - 2016 Pétrusque • ©2001 - 2016 Hano
      .col-lg-4.text-center
        p.
          World of Hano
      .col-lg-4.text-center
        p.
          version #{version}
