extends layout

block content
  .container-fluid.cover.text-center.header
    .half
      .vertical-center.center
        h1.title= i18n.hano
    .half
      .row
        fieldset.form-group.col-md-8.col-md-offset-2
          input(type='text', placeholder=i18n.mainSearch).form-control
      .row
        .col-md-6.col-md-offset-3
          .row
            each val in navigation
              .col-md-3.col-xs-6
                a(href=val.url)= val.title
  include articles/list
