doctype html
html(ng-app="hano")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/angular-ui-bootstrap/dist/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/ng-tags-input/build/ng-tags-input.bootstrap.min.css')
    link(rel='stylesheet', href='/ng-tags-input/build/ng-tags-input.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    script(src='/angular/angular.min.js')
    script(src='/angular-ui-bootstrap/dist/ui-bootstrap.js')
    script(src='/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')
    script(src='/ng-tags-input/build/ng-tags-input.min.js')
    script(src='/marked/lib/marked.js')
    script(src='/angular-marked/dist/angular-marked.js')
    script(src='/js/hano.js')
  body
    block content
