doctype html
html(ng-app="hano")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/ng-tags-input.bootstrap.min.css')
    link(rel='stylesheet', href='/css/ng-tags-input.min.css')
    script(src='/js/angular.min.js')
    script(src='/js/ui-bootstrap.js')
    script(src='/js/ui-bootstrap-tpls.js')
    script(src='/js/ng-tags-input.min.js')
    script(src='/js/hano.js')
  body
    block content
