@font-face {
    font-family: 'Wutopian';
    src: url('/fonts/wutopian_light.ttf') format('truetype');
}

@font-face {
    font-family: 'Nardanskh';
    src: url('/fonts/nardanskh_medium.ttf') format('truetype');
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  font-weight: 300;
  background-color: rgb(245,245,245);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.cover {
  position: relative;
  height: 100%;
  width: 100%;
}

.flow {
  margin-top: 70px;
  margin-bottom: 70px;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  width: 100%;
  font-size: 20px;
}

.bottom span {
  padding: 5px 20px;
}

.half {
  height: 50%;
  width: 100%;
  position: relative;
}

.header {
  background-size: cover;
  font-size: 20pt;
}

.header a {
  color: black;
}

.title {
  font-size: 50pt;
}

.box, .article, .sign-in {
  padding: 20px;
  border-bottom: solid 1px #dbdcdb;
  background-color: white;
  border-radius: 5px;
}

.box {
  margin: 20px;
}

.label {
  margin: 5px;
}

.subtitle span {
  border-left: rgb(190,215,215) solid 1px;
  padding-left: 10px;
  margin-left: 10px;
  color: rgb(80,105,105);
}

.subtitle span:first-of-type {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

.def, .note, .comment {
  padding-left: 20px;
  font-weight: 300;
}

.def {
  font-weight: 400;
}

.note {
  color: rgb(80,105,105);
}

.comment {
  font-style: italic;
  display: block;
  color: rgb(115,115,115);
}

.entry li {
  padding-top: 10px;
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.wutopian {
  font-family: Wutopian;
}

.nardanskh {
  font-family: Nardanskh;
}

.black {
  color: black;
}

.debug {
  background-color: rgb(200,0,200);
}

.navbar-inverse {
  color: grey;
}

.footer p {
  padding: 5px 0;
}

a,
.pagination>li>a,
.pagination>li>span {
  color: rgb(223,80,39);
}

.pagination>.active>a {
  background-color: rgb(223,80,39);
  border-color: rgb(203,60,19);
}
