html {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  font-weight: 300;
  background-color: rgb(245,245,245);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.cover {
  position: relative;
  height: 100%;
  width: 100%;
}

.flow {
  margin-top: 70px;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  width: 100%;
  font-size: 20px;
}

.bottom span {
  padding: 5px 20px;
}

.half {
  height: 50%;
  width: 100%;
  position: relative;
}

.header {
  background-size: cover;
  font-size: 20pt;
}

.header a {
  color: black;
}

.title {
  font-size: 50pt;
}

.box, .article, .sign-in {
  padding: 20px;
  border-bottom: solid 1px #dbdcdb;
  background-color: white;
  border-radius: 5px;
}

.box, .article {
  margin: 20px;
}

.label {
  margin: 5px;
}

.debug {
  background-color: rgb(200,0,200);
}
