html {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  font-weight: 300;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cover {
  position: relative;
  height: 100%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
}

.bottom span {
  padding: 5px 20px;
}

.cover .half {
  height: 50%;
  width: 100%;
  position: relative;
}

header {
  /*background-image: url('../images/background.jpg');*/
  background-size: cover;
  font-size: 30px;
}

header ul li {
  display: inline-block;
  padding: 5px 20px;
}

header a {
  color: black;
}

.head {
  font-size: 70px;
  font-weight: 300;
}

.top {
  position: absolute;
  top: 50px;
  right: 50px;
}

.top a {
  color: black;
}

.sign-in {
  background-color: rgb(255,255,255);
  border-bottom: solid 1px #dbdcdb;
  border-radius: 5px;
}

.sign-in form, .sign-in p {
  margin: 10px;
}

.shaded {
  background-color: rgb(245,245,245);
  background-color: rgba(0,0,0,0.1);
}
