extends ../layout

block content
  div(ng-controller='ArticleController', url='#{url}').flow.container.article
    h1 {{article.title}}
    div(marked="article.content | parseLinks")
    div.categories
      a(href="/categories/{{category}}", ng-repeat="category in article.categories").label.label-primary
        i.fa.fa-fw.fa-tag(aria-hidden="true")
        span(ng-show="category.text") {{category.text}}
        span(ng-hide="category.text") {{category}}
    if user
      div.edition.text-right
        .btn-group.text(role="group")
            button(ng-click="form = !form").btn.btn-default.
              #[i.fa.fa-fw.fa-pencil(aria-hidden="true")]
              #{i18n.edit}
            a(href='#').btn.btn-danger
              i.fa.fa-fw.fa-trash(aria-hidden="true")
      div(ng-controller='ArticleFormController', method='PUT', ng-show="form")
        include ../form/article.jade
