extends ../layout

block content
  div(ng-controller='ArticleController', url='#{url}')
    h1 {{article.title}}
    div.article(marked="article.content")
    div.categories(ng-repeat="category in article.categories")
      a(href="/categories/{{category}}") {{category}} 
    if user
      div.edition
        button(class="btn btn-info", ng-click="form = !form")
          span(class="glyphicon glyphicon-pencil")
        a(href='#', class="btn btn-danger")
          span(class="glyphicon glyphicon-trash")
      div(ng-controller='ArticleFormController', method='PUT', ng-show="form")
        include ../form/article.jade
