extends ../layout

block content
  div(ng-controller="EntryController", url="#{url}").flow
    div.container
      h1 {{title}} {{count}}
    div.container(ng-repeat="entry in entries")
      h2(class='{{entry.lang}}') {{entry.val}}
      p.subtitle {{entry.trans}}
        span(ng-if="entry.type") {{entry.type}}
        span(ng-if="entry.ipa") {{entry.ipa}}
      ol
        li(ng-repeat="definition in entry.definitions") {{definition.def}}
          i(ng-if="definition.note") {{definition.note}}
      div(ng-if="entry.declension")
        .declension.
          {{entry.declension}}
      div(ng-if="entry.conjugation")
        .conjugation.
          {{entry.conjugation}}
      div(ng-if="entry.transcription")
        .transcription.
          {{entry.transcription}}
      div(ng-if="entry.synonyms")
        .synonyms.
          {{entry.synonyms}}
      div(ng-if="entry.related")
        .related.
          {{entry.related}}
      if user
        button(class="btn btn-info", ng-click="showEdition = !showEdition").
          #[i.fa.fa-fw.fa-pencil(aria-hidden="true")]
          #{i18n.edit}
        div.edition(ng-show="showEdition")
          include ../form/entry.jade
    if user
      div.container
        button(class="btn btn-info", ng-click="showEdition = !showEdition").
          #[i.fa.fa-fw.fa-pencil(aria-hidden="true")]
          #{i18n.createEntry}
        div.edition(ng-show="showEdition")
          include ../form/entry.jade
