extends ../layout

block content
  div(ng-controller="EntryController", url="#{url}").flow.container.entry
    div.container
      h1 {{title}} {{count}}
      .text-center
        ul(uib-pagination, direction-links="false", boundary-links="true", total-items="totalItems", ng-model="currentPage")
    div(ng-repeat="entry in entries").box
      h2(class='{{entry.lang}}')
        a(id="{{entry.id}}")
        a(href="/dictionary/{{entry.transcription}}#{{entry.id}}").black
          | {{entry.transcription | outputResult}}
      p.subtitle
        span {{entry.transcription}}
        span(ng-if="entry.type").italic {{entry.type}}
        span(ng-if="entry.ipa") /{{entry.ipa}}/
      ol
        li(ng-repeat="definition in entry.definitions track by $index")
          span.note(ng-if="definition.note") ({{definition.note}})
          span.def {{definition.def}}
          span.comment(ng-if="definition.comment") {{definition.comment}}
      div(ng-if="entry.declension")
        .declension.
          {{entry.declension}}
      div(ng-if="entry.conjugation")
        .conjugation.
          {{entry.conjugation}}
      div(ng-if="entry.synonyms")
        .synonyms.
          {{entry.synonyms}}
      div(ng-if="entry.related")
        .related
          span(ng-repeat="relatedWord in entry.related") {{relatedWord}}
      if user
        .text-right
          .btn-group(role="group")
            button(ng-click="showEdition = !showEdition").btn.btn-default.
              #[i.fa.fa-fw.fa-pencil(aria-hidden="true")]
              #{i18n.edit}
            button(ng-click="delete(entry.id, currentPage)").btn.btn-danger.
              #[i.fa.fa-fw.fa-trash(aria-hidden="true")]
        div.edition(ng-show="showEdition")
          include ../form/entry.jade
    if user
      div
        a(href="/new-entry").
          #[i.fa.fa-fw.fa-plus(aria-hidden="true")]
          #{i18n.new}
    .text-center
      ul(uib-pagination, direction-links="false", boundary-links="true", total-items="totalItems", ng-model="currentPage")
