form(novalidate)
  .form-group
    label(for="title") #{i18n.title}
    input(type="text", ng-model="article.title", class="form-control")
  .form-group
    label(for"articleContent") #{i18n.content}
    textarea(ng-model="article.content", class="form-control", rows="20")
    tags-input(ng-model="article.tags")
      auto-complete(source="loadTags($query)")
    button(type="submit", class="btn btn-success", ng-click="update()")
      span(class="glyphicon glyphicon-ok")
    button(type="button", class="btn btn-danger", ng-click="reset()")
      span(class="glyphicon glyphicon-remove")
