extends ../layout

block content
  div(ng-controller='UserController', url=url).flow
    h1 {{user.name}}
    div
      a(ng-href="/users/{{user.url}}")
        i.icon-pencil Show
      a(ng-href="/EditArticle/{{user.url}}")
        i.icon-pencil Edit
